# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages
/node_modules
/bin
/obj
/Properties

# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.csproj.user
*.vcxproj.user

#Outputs
Output/
